pkgbase = mihomo
	pkgdesc = Mihomo dev core with local TCP/UDP TPROXY and explicit kernel direct bypass
	pkgver = dev.r4449.g952d2850
	pkgrel = 3
	epoch = 9999
	url = https://github.com/qwqgong-ui/mmmmmmhhhmmm
	install = mihomo.install
	arch = x86_64
	license = GPL-3.0-only
	makedepends = go
	makedepends = git
	makedepends = make
	depends = nftables
	depends = iproute2
	depends = python
	depends = python-yaml
	depends = systemd
	provides = mihomo-bin=9999:dev.r4449.g952d2850
	provides = clash-meta
	conflicts = mihomo-bin
	conflicts = mihomo-tproxy
	options = !strip
	options = !debug
	backup = etc/mihomo/config.yaml
	backup = etc/mihomo/tproxy.toml
	backup = etc/mihomo/direct4.cidr
	backup = etc/mihomo/direct6.cidr
	source = manage.py
	source = tproxy.toml
	source = direct4.cidr
	source = direct6.cidr
	source = 50-tproxy.conf
	source = config.yaml
	source = mihomo-tproxy-watch.service
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = mihomo
